/bin/
/.idea/
/obj/
obj/rider.project.model.nuget.info
obj/rider.project.restore.info
obj/Debug/net7.0/Backend.assets.cache
obj/Debug/net7.0/Backend.csproj.AssemblyReference.cache
obj/Debug/net7.0/Backend.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Backend.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Backend.dll
obj/Debug/net7.0/Backend.pdb
obj/Debug/net7.0/ref/Backend.dll
obj/Debug/net7.0/refint/Backend.dll
obj/Backend.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/rider.project.model.nuget.info
obj/rider.project.restore.info
obj/Debug/net7.0/Backend.csproj.AssemblyReference.cache
obj/Debug/net7.0/Backend.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Backend.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Backend.dll
obj/Debug/net7.0/Backend.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net7.0/Backend.pdb
obj/Debug/net7.0/ref/Backend.dll
obj/Debug/net7.0/refint/Backend.dll
